body{
    background-color: rgb(241, 253, 239);
}
form label{
    display:block;
    font-size: 20;
    color: rgb(0, 0, 0);
    margin: 0 0 10px;
}
.copyright{
    background-color: rgb(163, 250, 141);
}
.enviar {
    width:40%;
    padding:15px 0;
    background-color: rgb(133, 184, 132);
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
  background-color: rgb(8, 51, 15);
  transform: scale(1.2);
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 20px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}